{% load static %}

<!-- Team Section Start -->
<section id="team" class="section-padding bg-gray">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meet our team</h2>
            <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">

            {% for funcionario in funcionarios %}

            <!-- Team Item Starts -->
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="team-img">
                        <img class="img-fluid" src="{{ funcionario.imagem_perfil.thumb.url }}"
                             alt="{{funcionario.nome}}">
                    </div>
                    <div class="contetn">
                        <div class="info-text">
                            <h3><a href="#">{{funcionario.nome}}</a></h3>
                            <p>{{funcionario.cargo}}</p>
                        </div>
                        <p>{{funcionario.biografia}}</p>
                        <ul class="social-icons">
                            <li><a href="{{ funcionario.social_facebook }}"><i class="lni-facebook-filled"
                                                                               aria-hidden="true"></i></a></li>
                            <li><a href="{{ funcionario.social_twitter }}"><i class="lni-twitter-filled"
                                                                              aria-hidden="true"></i></a></li>
                            <li><a href="{{ funcionario.social_instagram }}"><i class="lni-instagram-filled"
                                                                                aria-hidden="true"></i></a></li>
                            <li><a href="{{ funcionario.social_whatsapp  }}"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- Team Item Ends -->
            {% endfor %}
        </div>


    </div>
</section>
<!-- Team Section End -->